.contenedor {
    margin-top: 20px!important;
    margin-bottom: 20px!important;
    margin-left: 0!important;
    margin-right: 0!important;
    max-width: 100%!important;
}

.dropdowncuerpo {
    min-width: 0!important;
}

.imagen {
    width: 50px;
    height: 50px;
}

.impresion {
    margin-Left: auto;
    margin-Right: auto;
    display: none;
}

.botonNuevo {
    background-image: linear-gradient(to bottom, #3f51b5, #3f51b5);
    color: #FFFFFF!important;
}

.botonNuevo:disabled {
    background-image: linear-gradient(to bottom, #dadbdd, #dadbdd);
    color: #a2a2a4!important;
}

.botonNuevo:hover {
    background-image: linear-gradient(to bottom, #303f9f, #303f9f);
}

.botonModificar {
    background-image: linear-gradient(to bottom, #a7b342, #a7b342);
    color: #FFFFFF!important;
}

.botonModificar:disabled {
    background-image: linear-gradient(to bottom, #dadbdd, #dadbdd);
    color: #a2a2a4!important;
}

.botonModificar:hover {
    background-image: linear-gradient(to bottom, #8e992f, #8e992f);
}

.botonEliminar {
    background-image: linear-gradient(to bottom, #b34242, #b34242);
    color: #FFFFFF!important;
}

.botonEliminar:disabled {
    background-image: linear-gradient(to bottom, #dadbdd, #dadbdd);
    color: #a2a2a4!important;
}

.botonEliminar:hover {
    background-image: linear-gradient(to bottom, #922c2c, #922c2c);
}

.botonGrabar {
    background-image: linear-gradient(to bottom, #69ac3d, #69ac3d);
    color: #FFFFFF!important;
}

.botonGrabar:disabled {
    background-image: linear-gradient(to bottom, #dadbdd, #dadbdd);
    color: #a2a2a4!important;
}

.botonGrabar:hover {
    background-image: linear-gradient(to bottom, #56922d, #56922d);
}

.botonCancelar {
    background-image: linear-gradient(to bottom, #a06738, #a06738);
    color: #FFFFFF!important;
}

.botonCancelar:disabled {
    background-image: linear-gradient(to bottom, #dadbdd, #dadbdd);
    color: #a2a2a4!important;
}

.botonCancelar:hover {
    background-image: linear-gradient(to bottom, #885429, #885429);
}

.dropDown {
    border: 4px;
    border-radius: 4px;
}

.iconos {
    margin-Right: 15px;
    font-Size: 40px!important;
}

.botonFlotante {
    width: 60px!important;
    height: 60px!important;
}

.grupoImprimir {
    box-shadow: 1px 1px 5px 0px #000000!important;
}