/* sobreescribo este estilo porque bootstrap inyecta un estilo que daña el de MUI */
legend {
  float: none !important;
}

/*El popper no se ve cuando se usa en modals ya que queda detras de este */
.MuiAutocomplete-popper {
  z-index: 10000 !important;
}

.card {
  box-shadow: 0 0.15rem 0.75rem 0 rgba(58, 59, 69, 0.15) !important;
  border-radius: 10px !important;
  margin-bottom: 5px;
}

.card .MuiCardHeader-root {
  color: darkgreen;
  background-color: #f8f9fc;
  border-bottom: 1px solid #e3e6f0;
  font-size: 16px;
}

.cardStyle2 {
  width: 100%;
}

.cardStyle2 .MuiCardHeader-root {
  color: brown;
  background-color: white;
  border-bottom: 1px solid #e3e6f0;
  font-size: 16px;
}

.cardStyle3 {
  box-shadow: 0 0.15rem 0.75rem 0 rgba(58, 59, 69, 0.15) !important;
  border-radius: 10px !important;
  margin-bottom: 5px;
}

.cardStyle3 .MuiCardHeader-root {
  color: darkgreen;
  background-color: #f8f9fc;
  border-bottom: 1px solid #e3e6f0;
  font-size: 16px;
}

.cardStyle3 .MuiCardContent-root {
  padding: 0;
}

.impresionCabezera {
  display: none;
}

.impresionGrid {
  display: contents;
  /* font-size: x-large; */
}
.impresion {
  /* display: contents; */
  /* font-size: x-large; */
  font-size: 16px;
}

.impresionGridPrint {
  display: none;
}

.impresionPie {
  position: relative;
  bottom: 10px;
}

@media print {
  .impresionCabezera {
    display: contents;
    /* font-size: 36px; */
  }

  .impresionGridPrint {
    display: contents;
  }

  .impresionGrid {
    display: none;
  }

  .impresionPie {
    position: absolute;
    bottom: 10px;
  }
}

.botonTour {
  position: fixed;
  top: 4.375rem;
  right: 0px;
}

.contenedor {
  width: 100% !important;
}

.contenedorGrid {
  display: contents;
}

.MaterialTablePanel {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 12px;
  color: grey;
}

/* .MaterialTablePanel td, th {
  padding-left: 2em;
} */

.MuiTypography-h5 {
  font-size: 16px !important;
}

.Mui-required {
  color: red !important;
}

.ReportesPaper {
  padding: 16px;
  flex-grow: 1;
  margin: 5px;
  display: block;
  max-width: inherit;
}

.ReportesTab {
  margin: auto !important;
}

.tablasDetalles {
  overflow-x: auto;
  overflow-y: auto;
}

@media print {
  .tablasDetalles {
    overflow-x: hidden;
  }

  .MuiTableCell-paddingNone {
    display: none !important;
  }
}

.tablasDetallesInput {
  min-width: 150px;
}

.tablasDetallesheader {
  background-color: lightgrey;
}

.tablasDetallesFoot {
  background-color: #ebebeb;
}

.tablasDetallesTitulo {
  color: blue !important;
  padding: 0 24px;
}

.tablasDetallesFilas {
  padding: 0 24px;
}

input[type="number"] {
  text-align: right;
}

.TableCellNoBorderBottom {
  border-bottom: none !important;
}
